.My_intro{
color: #00296b;
text-align: center;
width: 50%;
display: block;
margin: 80px auto 0px auto;}


@keyframes VBC{
from {background-color:none;}
    to {background-color: #ffd500;}
}

.VBCD{
animation-name: VBC;
animation-duration: 5s;
}


.card{
    width: 260px;
    display: block;
    padding: 15px;
    text-align: center;
    border: 1px solid #003f88  ;
    margin: 0px auto 0px auto;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}

img{
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    }

.name{
    color: #00296b;
}

p{
    color: black
}

p:hover{
    color: #003f88
}

a{
    color:white;
    text-decoration: none;
}

button{
    border: none;
    width: 95px;
    height: 30px;
    background-color: #ffd500;
    color: black 
}

button:hover{
    background-color:  beige
}

.contact{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    width: 200px;
    justify-content: space-between;
    margin: 0px auto 0 auto;
}

@keyframes VBC{
from {background-color:none}
    to {background-color: #ffd500}
}


/*
add my animation to change my name feColorMatri
*/

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

